.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--ft-family-text);
    font-size: 1.4rem;
    color: black;
}

span {
    color: purple;
}

span:active
span:hover {
    color: var(--color-pink);
}

span:visited {
    color: gray;
}
