.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--ft-family-text);
    font-size: 1.4rem;
    color: var(--color-pink);
    height: 120px;
    margin: 40px auto;
}

footer p {
    width: 80%;
    text-align: center;
    justify-content: center;
}
span {
    color: white;
}

span:active
span:hover {
    color: var(--color-pink);
}

span:visited {
    color: gray;
}

@media screen and (max-width: 850px){
    footer {
        width: 60vw;
    }
}
  