.jumbotron {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    border-radius: 0 !important;
    /*box-shadow: 10px 10px 15px var(--color-black);*/
}

@media screen and (max-width: 850px) {
    .jumbotron {
        text-align: center;
    }
}

