@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Open+Sans&display=swap');
 

/* Variables */

:root {
  --ft-family-text: "Open Sans", sans serif;
  --ft-family-heading: 'Caveat Brush', cursive;
  --color-lilac: hsl(281.71, 75.93%, 78.82%);
  --color-pink: hsl(292.6, 65.81%, 54.12%);
  --color-light-pink: hsl(291.86, 67.05%, 65.49%);
  --color-deep-purple: hsl(257.14, 62.5%, 21.96%);
  --color-light-lilac: hsl(252.35, 70.83%, 90.59%);
  --color-light-black: hsl(0, 0%, 13.33%);
  --color-black: hsl(0, 0%, 0%);
  --color-white: hsl(0, 0%, 100%);
}


*, 
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;

}

body {
 font-family: inherit;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, 
h2 { 
  font-family: var(--ft-family-heading);
  font-size:5rem;

}

